html{ 
    background-color: #d3d3d3;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
.mainhead{
  right: -49px;
  display: flex;
  position: relative;
  justify-content: center;
}

  .headerrow{
    background-color: #d3d3d3;
    margin: 0;
    padding: 5px 5px 5px 5px;
    color: black;
    
  }
  


p{
    text-align: center;
    background-color: #d3d3d3;
}

.signupelement{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d3d3d3;
  display: inline-block;
  text-align: left;
  width: max-content;
  float: right;
}

.signuplink{
  padding: 10px 10px 10px 10px;
  margin: 0;
  text-align: center;
  display: block;
  color: black;
  text-decoration: none;

}

.signupelement:hover{
  background-color: rgb(197, 197, 197);
}
