html{ 
  background-color: #d3d3d3;
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.headerrow{
  background-color: #d3d3d3;
  margin: 0;
  padding: 5px 5px 5px 5px;
  color: black;
  text-align: center;
}

p{
  text-align: center;
  background-color: #d3d3d3;
}

.navigationlist{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #d3d3d3;
display: inline-block;
text-align: left;
width: max-content;
}


.navigationelement{
float: left;
display: flex;
justify-content: center;
}

.navigationlink{
padding: 10px 10px 10px 10px;
margin: 0;
text-align: center;
display: block;
color: black;
text-decoration: none;

}

.navigationelement:hover{
background-color: rgb(197, 197, 197);
}


.navigationcenter{ text-align: center; }

.idk{
border-color: #bbbbbb;
border-top-width: 5px;
border-bottom-width: 5px;
border-style: solid;
width: 100%;
}